.EnableCodeMirror .image {background-image:url({ThemePath}/icon/icon.png);}
.cm-dreamweaver {color: #0c1;}

span.cm-xml-tag { color: rgb(163, 21, 21); }
span.cm-xml-attribute { color: rgb(0, 0, 255); }
span.cm-xml-attname { color: rgb(255, 0, 0); }
span.cm-xml-comment { color: rgb(0, 128, 0); }
span.cm-xml-cdata { color: #777; }
span.cm-xml-processing { color: #777; }
span.cm-xml-entity { color: #a22; }

span.cm-razor { background-color: rgb(236, 242, 245); }
span.cm-razor-tag { background-color: yellow; }
span.cm-razor-keyword { color: blue; background-color: rgb(236, 242, 245); }
span.cm-razor-string { color: rgb(163, 21, 21); background-color: rgb(236, 242, 245); }

#ext_codemirror {max-width: 80px;}

.CodeMirror {
    border: solid 1px #b3b3b3;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 12px;
    line-height: 14px;
}
.cm-dreamweaver {color: #840000;}
.cm-s-default span.cm-tag { color: #00f; }
.cm-s-default span.cm-attribute { color: #f00; }
.cm-s-default span.cm-string { color: #8400ff; }
.cm-s-default span.cm-comment { color: #008200; }